// Screen
$mobile: 375px;
$desktop: 1440px;

// Color
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$mainBg: hsl(217, 54%, 11%);
$cardBg: hsl(216, 50%, 16%);
$lineBG: hsl(215, 32%, 27%);
$whiteBG: hsl(0, 0%, 100%);

$facebookBG: #1e4ba0;
$githubBg: #141414;
$instaBG: #ff3a55;

// font size
$fontFamily: 'Outfit', sans-serif;
$fontSize: 18px;
$fontWeight-300: 300;
$fontWeight-400: 400;
$fontWeight-600: 600;
